<video id="background-video" autoplay loop muted>
  <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1673259544/pexels-olia-danilevich-8959188_1_xdbm4h.mp4" type="video/mp4">
</video>

<div class="banner-home">
  <h1>Offrez-vous un moment de détente</h1>
  <h2>Faites du yoga!</h2>
  <%= link_to "Commencer", courses_path, class: "btn-purple" %>
</div>
