.nav-link {
  color: white;
  font-weight: bold;
  &:hover {
    color: rgb(84, 84, 168);
    background-color: white;
    border-radius: 10px;
  }
}

.icon-user {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}
